@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './table.scss';

.custom-radio {
     accent-color: rgb(61, 255, 61);
     height: 22px;
     width: 22px;
}

.err-msg {
     color: #fc4040;
     font-size: 12px;
}

.primany_btn {
     border: none !important;
     font-family: "Montserrat-Medium";

}

.primany_btn :focus {
     border: none !important;
}